<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add fullPath="RunesDataBase.Properties.Settings.ROM_AccountConnectionString"
            connectionString="Data Source=(local);Initial Catalog=ROM_Account;Persist Security Info=True;User ID=romuser"
            providerName="System.Data.SqlClient" />
        <add fullPath="RunesDataBase.Properties.Settings.ROM_WorldConnectionString"
            connectionString="Data Source=(local);Initial Catalog=ROM_World;Persist Security Info=True;User ID=romuser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>